<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/aqa-styles/aqa-styles.html">
<link rel="import" href="../../../../bower_components/aqa-panel/aqa-panel.html">
<link rel="import" href="../../../../bower_components/aqa-button/aqa-button.html">
<link rel="import" href="../../../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="./page-search.html">
<link rel="import" href="./page-list.html">
<link rel="import" href="./page-panel.html">

<dom-module id="page-layout">
    <template>
        <style include="aqa-styles"></style>
        <div class="page-container">
            <page-search id="search" field="[[colunm]]"></page-search>
            <page-panel id="panel" on-add="openDailog">
                <page-list id="list" list="[[data]]" colunm="[[colunm]]" form="[[form]]" active></page-list>
            </page-panel>
        </div>
    </template>

    <script>

        class PageLayout extends Polymer.Element {

            static get is() {
                return 'page-layout';
            }

            static get properties() {
                return {
                    data: Array,
                    colunm: Array,
                    path: String,
                    form: {
                        type: String,
                        value: 'form'
                    },
                    element: {
                        type: Object,
                        value: {}
                    }
                }
            }
            ready() {
                super.ready();
                this.element = {
                    panel: this.$.panel,
                    list: this.$.list,
                    search: this.$.search
                }

                this.element.panel.addEventListener('add', e => { this.addDailog(e) });
                this.element.panel.addEventListener('delete-all', e => { this.confirmDialog(e) });

                this.element.list.addEventListener('view', e => { this.viewDialog(e) });
                this.element.list.addEventListener('edit', e => { this.editDialog(e) });
                this.element.list.addEventListener('delete', e => { this.confirmDialog(e) });
            }
            addDailog() {
                Nylon.dispatch('clearCommon')
                Nylon.dialog.open('/' + this.form, { active: false, field: this.colunm, select: 'select' })
            }
            viewDialog(e) {
                // Nylon.dispatch('selectCommon', e.detail)
                // Nylon.dialog.open('/' + this.form, { active: true, field: this.colunm, select: 'select' })
            }
            editDialog(e) {
                // Nylon.dispatch('selectCommon', e.detail)
                // Nylon.dialog.open('/' + this.form, { active: false, field: this.colunm, select: 'select' })
            }
            confirmDialog() {
                // Nylon.swal({nylon: 'confirm'})
                //     .then((res) => {
                //         if (res) {
                //             Nylon.swal({ nylon: 'success', title: 'ลบข้อมูลสำเร็จ', text: "ระบบได้ลบข้อมูลของคุณแล้ว" })
                //         }
                //     })
            }
        }

        window.customElements.define(PageLayout.is, PageLayout);
    </script>
</dom-module>