<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../../bower_components/aqa-vaadin-grid/aqa-vaadin-grid.html">
<link rel="import" href="../../../../bower_components/aqa-icons/aqa-icon-tool.html">
<link rel="import" href="../../../../bower_components/aqa-tooltip/aqa-tooltip.html">
<dom-module id="page-list">
    <template>

        <vaadin-grid id="grid" aria-label="Basic Binding Example" items="[[list]]">
            <vaadin-grid-column flex-grow="0">
                <template class="header">
                    <div style="text-align:center">
                        ลำดับที่
                    </div>
                </template>
                <template>
                    <div style="text-align:center">
                        [[count(index)]]
                    </div>
                </template>
            </vaadin-grid-column>
            <template is="dom-repeat" items="[[colunm]]" as="col" index-as="count">
                <vaadin-grid-column>
                    <template class="header">[[col.label]]</template>
                    <template>
                        <div>
                            [[combileData(colunm,count,item)]]
                        </div>

                    </template>
                </vaadin-grid-column>
            </template>
            <!-- <template is="dom-if" if="[[active]]"> -->
            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">เครื่องมือ</template>
                <template>
                    <div style="text-align: center;">
                        <aqa-tooltip label="ดูรายละเอียดทั้งหมด">
                            <paper-icon-button class="btn-edit" icon="visibility" on-click="openDialog"></paper-icon-button>
                        </aqa-tooltip>
                        <aqa-tooltip label="แก้ไขข้อมูล">
                            <paper-icon-button class="btn-edit" icon="create" on-click="editDialog"></paper-icon-button>
                        </aqa-tooltip>
                        <aqa-tooltip label="ลบ">
                            <paper-icon-button class="btn-edit" icon="aqa-tool:bin" on-click="confirmDelete"></paper-icon-button>
                        </aqa-tooltip>
                    </div>
                </template>
            </vaadin-grid-column>
            <!-- </template> -->
        </vaadin-grid>

    </template>

    <script>

        class PageList extends Polymer.Element {

            static get is() {
                return 'page-list';
            }
            static get properties() {
                return {
                    list: Array,
                    colunm: Array,
                    form: {
                        type: String,
                        value: 'form'
                    }
                }
            }
            count(col) {
                return col + 1;
            }
            combileData(col, count, row) {
                var path = col[count].path;
                if (row)
                    return row[path];
            }
            editDialog(e) {
                Nylon.dispatch('selectCommon', e.model.item)
                Nylon.dialog.open('/' + this.form, { active: false, field: this.colunm, select: 'select' })
                this.dispatchEvent(new CustomEvent('edit', { detail: e.model.item }));
            }
            openDialog(e) {
                Nylon.dispatch('selectCommon', e.model.item)
                Nylon.dialog.open('/' + this.form, { active: true, field: this.colunm, select: 'select' })
                this.dispatchEvent(new CustomEvent('view', { detail: e.model.item }));
            }
            confirmDelete(e) {
                Nylon.swal({ nylon: 'confirm' })
                    .then((res) => {
                        if (res) {
                            Nylon.swal({ nylon: 'success', title: 'ลบข้อมูลสำเร็จ', text: "ระบบได้ลบข้อมูลของคุณแล้ว" })
                        }
                    })
                this.dispatchEvent(new CustomEvent('delete', { detail: e.model.item }));
            }

        }

        window.customElements.define(PageList.is, PageList);
    </script>
</dom-module>